<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista de estudiantes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                    <form action="/edit/<%= estudiantes._id %>" method="POST" > 
                        <div class="form-group">
                            Nombre:<input type="text" name="nombre" class="form-control" placeholder="nombre" value="<%= estudiantes.nombre %>"> 
                     </div>
                     <div class="form-group">
                        Monto:<input type="text" name="monto" class="form-control" placeholder="monto" value="<%= estudiantes.monto %>">
                        </div>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
